<h1 align="center">temp-from works!</h1>

<form>
  <input
    type="text"
    placeholder="Username"
    ngModel
    name="uName"
    #tempVar="ngModel"
    (input)="catchVal(tempVar)"
    required
    minlength="3"
    pattern="Angular"
  />
  <div style="color: red" *ngIf="tempVar.touched && !tempVar.valid">
    Something Went Wrong..!
    <div *ngIf="tempVar.errors?.['required']">required</div>
    <div *ngIf="tempVar.errors?.['minlength']">minlength</div>
    <div *ngIf="tempVar.errors?.['pattern']">pattern</div>
  </div>
</form>
